.background {
  background-color: #f3f4f5;
  height: 100%;
}

.main {
  background-color: #cacfc9;
}


.sidebar{

}


@media (min-width: 1100px) {
  .sidebar {
    /* min-height: 10vh; */
    min-height: 85vh;
  }
}